body{
    margin: 0px;
    background-color: rgb(40, 131, 131);
}
.classdiv{
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin-left: 0;
    text-align: end;
}

.classdiv3{
    
    width: 200px;
    height: 600px;
    text-align: justify;
    border: 4px solid black;
    padding: 20px;
    margin-top: 5px;
    margin-left: 0px;
    border-radius: 10px;
background-color: blueviolet;
}
button{
    margin: 20px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid transparent;
    background-color: black;
    color: white;
    font-weight: 600;  
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    zoom: 1.5;
    
}

